In [6]:
def test(a,b):
    '''This is my fn to add or concatinante'''
    return a+b

In [3]:
test("Sudip ","Paik")

'Sudip Paik'

In [4]:
test(a = 10, b= 25)

35

In [7]:
def calc():
    a = float(input("First number: "))
    b = float(input("Second number: "))
    
    add_num = a + b
    dif_num = a - b
    prod_num = a * b
    div_num = a / b
    
    return {"add_num": add_num, "dif_num": dif_num, "prod_num": prod_num, "div_num": div_num}

results = calc()

print("Addition of numbers:", results["add_num"])
print("Difference of numbers:", results["dif_num"])
print("Product of numbers:", results["prod_num"])
print("Division of numbers:", results["div_num"])

First number: 125
Second number: 50
Addition of numbers: 175.0
Difference of numbers: 75.0
Product of numbers: 6250.0
Division of numbers: 2.5

In [8]:
def calc(a,b):
       
    add_num = a + b
    dif_num = a - b
    prod_num = a * b
    div_num = a / b
    
    return add_num, dif_num, prod_num, div_num

In [9]:
calc(125,50)

(175, 75, 6250, 2.5)

In [5]:
#Every in bulit fn is docstring type

In [93]:
def test1(a,b,c,d,e) :
    return a,b,c,d,e

In [95]:
test1(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [9]:
#passing multiple parameters at any point of time

In [10]:
def test(*a): #single asterisk will pass n no of parameters 
    return(a) #args

In [11]:
test(1,2,3,4,89,5,65)

(1, 2, 3, 4, 89, 5, 65)

In [12]:
#Creating a list using fn
#single asterisk = takes multi values
def test5(*a):
    l = []
    for i in a:
        l.append(i)
    return l

In [13]:
test5(2,33,58,2,85,5,52,5,656,625)

[2, 33, 58, 2, 85, 5, 52, 5, 656, 625]

In [15]:
def test6(a,b,c, *n):
    return a,b,c, n

In [16]:
test6(56,62,69,5,26,9,39,39,39,529,95,9,5,9)

(56, 62, 69, (5, 26, 9, 39, 39, 39, 529, 95, 9, 5, 9))

In [18]:
def test7(*n,a,b,c):
    return n,a,b,c

In [21]:
test7(22515,5,15,15,85, a = 3, b = 55,c = 5)

((22515, 5, 15, 15, 85), 3, 55, 5)

In [23]:
#double asterisk takes dict as dict items
def test8(**sudip):
    return sudip

In [25]:
test8(a = 5, b = 8, c = 5)

{'a': 5, 'b': 8, 'c': 5}

In [26]:
def test9(*a, **b):
    return a,b

In [28]:
test9(55,565,66,8800,6,3515, a= 56, v=68, f=58)

((55, 565, 66, 8800, 6, 3515), {'a': 56, 'v': 68, 'f': 58})

In [51]:
def sum_of_n_values(n):
    total_sum = n * (n + 1) // 2
    return total_sum

In [54]:
sum_of_n_values(1111.5635)

618342.0

In [63]:
def testm(*m):
    n = 0
    for i in m:
        if type(i) == int or type(i) == float:
            n = n+i
    return n

In [64]:
testm(25.5,"Sofi",85,85,84,8,56,8,89)

440.5

In [68]:
def testy(*y):
    n = 1
    for i in y:
        if type(i) == int or type(i) == float:
            n = n*i
    return n

In [69]:
testy(55,669,59.59,855,2)

3749370025.5000005

In [71]:
#Lambda fn or anonymous fn

In [72]:
n = lambda a,b : a*b

In [73]:
n(5,6)

30

In [79]:
b = lambda *Sudip : Sudip

In [80]:
b(5,5,5995,9,5)

(5, 5, 5995, 9, 5)

In [81]:
#Comprehension operation

In [82]:
t = (4,5,6,5,6,8,5)
[i for i in t]

[4, 5, 6, 5, 6, 8, 5]

In [83]:
s = "SUDipPaik"
[i for i in s]

['S', 'U', 'D', 'i', 'p', 'P', 'a', 'i', 'k']

In [91]:
[i*i for i in range(90,100)]

[8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [16]:
#square of numbers in a list using lambda
l = lambda *x : [i**2 for i in x]

In [17]:
l(45,56,67,78,89,899)

[2025, 3136, 4489, 6084, 7921, 808201]

In [31]:
# Squaring each element of a list using a lambda function and list comprehension
l = [11, 21, 31, 41, 51]
l1 = [(lambda x: x**2)(num) for num in l]
print(l1)

[121, 441, 961, 1681, 2601]

In [12]:
#bigger no using lambda
bigger = lambda x,y: x if x>y else y
print(bigger(30,31))

31

In [15]:
#even odd using lambda
evenodd = lambda x : 'even' if x%2==0 else 'odd'
print(evenodd(21))

odd

In [160]:
def test(**k):
    count = 0
    for i in k.values():
        if type(i) == str or type(i) == list:
            count+=1
    return count

In [162]:
test(a=7 , b= "sudi" , c="sudip" , d = [2,3,5,6,"sudip"])

3

In [123]:
def test15(**kw):
    return list(kw.values())

In [124]:
test15(a=7 , b= "sudip" , c="sudip" , d = [2,3,5,6,"sudip"])

[7, 'sudip', 'sudip', [2, 3, 5, 6, 'sudip']]

In [137]:
def primeornot(a):
    for i in range(1000):
        if i<=7:
            if i % 2 == 0 or i % 3 == 0 or i % 5 == 0 or i % 7 == 0:
                return "Prime"
        if i>7 :
            if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 != 0:
                return "Prime"
        else :
             return "Not Prime"

In [149]:
conc = lambda *n: "".join(str(i) for i in n)

In [145]:
conc("Sudip","Loves","theoffice",123)

'SudipLovestheoffice123'

In [157]:
concat = lambda *n : "".join([i for i in n])

In [158]:
concat("Sudip","Loves","theoffice")

'SudipLovestheoffice'

In [2]:
square = lambda a,b : [i**2 for i in range(a,b)]

In [3]:
square(1,21)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [2]:
add = lambda x,y,z : x+y+z
add(294,345,4062)

4701

In [28]:
add = lambda: int(input("Enter first number: ")) + int(input("Enter second number: "))
print(add())

Enter first number: 5959
Enter second number: 26558
32517

In [33]:
#sorted
products = [
    {'name': 'Product1', 'price': 500},
    {'name': 'Product2', 'price': 30},
    {'name': 'Product3', 'price': 4510},
    {'name': 'Product4', 'price': 20000},
]

sorted_prod = sorted(products, key = lambda x : x ['price'])
for products in sorted_prod:
    print(products)

{'name': 'Product2', 'price': 30}
{'name': 'Product1', 'price': 500}
{'name': 'Product3', 'price': 4510}
{'name': 'Product4', 'price': 20000}

In [1]:
products = [
    {'name': 'Product1', 'price': 500},
    {'name': 'Product2', 'price': 30},
    {'name': 'Product3', 'price': 4510},
    {'name': 'Product4', 'price': 20000},
]

sorted_prod = sorted(products, key = lambda x : x ['price'], reverse = True)
for products in sorted_prod:
    print(products)

{'name': 'Product4', 'price': 20000}
{'name': 'Product3', 'price': 4510}
{'name': 'Product1', 'price': 500}
{'name': 'Product2', 'price': 30}

In [1]:
def fibo(n):
    # Base case
    if n <= 1:
        return n
    # Recursive case
    else:
        return fibo(n-2) + fibo(n - 1)

print(fibo(9))

34

In [2]:
def fibo(n):
    a,b = 0,1
    for i in range(n):
        print(a)
        a, b = b, a + b
fibo(6)

0
1
1
2
3
5