In [2]:
a = 5
b = 10
while a < b : #loop will break if condition is not satisfied
    print(a)
    a =a+1

5
6
7
8
9

In [4]:
while a <= b :
    print(a)
    a = a+2 #a=11 here from prev code
else :
    print("value of a is 11")

value of a is 11

In [8]:
a = 1
b = 10
while a<10 :
    if a==8 :
        break #breaks the loop
    print(a)
    a= a+1
else :
    print("welcome")

1
2
3
4
5
6
7

In [ ]:
a = 1
b = 10
while a<=b:
    print(a)
    if a==3 :
        #continue - statement will give infinite loop
    a=a+2
else :
    print("ddsfsfs")

In [7]:
a = 1
b = 10
while a<b:
    a = a+1
    if a==3 :
        continue #here pass will give all outputs
    print(a) # 3 wont be in output as it will go to loop again

2
4
5
6
7
8
9
10

In [9]:
l = [1,2,3,4,5,6,77]
for i in l:
    print(i)

1
2
3
4
5
6
77

In [15]:
len(l)

7

In [14]:
a = 0
while a < len(l):
    print(l[a])
    a=a+1

1
2
3
4
5
6
77

In [30]:
a = 0
while a < len(l):
    print(l[a],l[a-1], end="\n")
    a=a+1

1 77
2 1
3 2
4 3
5 4
6 5
77 6

In [56]:
#tuple index finding
t = (3,4,5,6,7,8,9)
a = 0
while a <len(t):
    if t[a] == 6 or t[a] == 7:
        print(a)
    a=a+1

3
4

In [3]:
#finding backward index
t = (3,4,5,6,7,8,9)
a = -1 #first tuple index
while a >-len(t): #-1>-7
    if t[a] == 6 or t[a] == 7:
        print(a)
    a-=1 #backward increment a-=1 and a=a-1 are same
#no element at -8th index thats why tuple index will be out of range

-3
-4

In [37]:
#using for loop for dict
for item in d.items() :
    print(item)

('k1', 'sudh')
('k2', [1, 2, 3, 4])
('k3', (2, 3, 4, 5))

In [44]:
#using while loop for dict
d = {"k1": "sudh" , "k2" : [1,2,3,4], "k3" : (2,3,4,5)}
a = 0 
b = list(d.keys()) #first extract the keys
while a < len(b) :
    print([b[a]]) #b[0],b[1],b[2] #for keys
    print(d[b[a]]) # for values
    a+=1

['k1']
sudh
['k2']
[1, 2, 3, 4]
['k3']
(2, 3, 4, 5)

In [ ]:
#len()
#range()
#print
#keys
#values
#items
#append
#pop
#insert
#extend

In [1]:
#functions
#def = initiation of fn
def test():
    print("this is my first fn")
#calling a function
test()

this is my first fn

In [3]:
type(test()) #print always retuen nonetype

this is my first fn

NoneType

In [4]:
def test(): #retur returns same datatype
    return "this is my first fn"

In [5]:
test()

'this is my first fn'

In [6]:
type(test())

str

In [8]:
test() + " hell yeah"

'this is my first fn hell yeah'

In [9]:
def test1():
    pass

In [10]:
def test2():
    return 1,3,5,7,[45,66,659,2]

In [11]:
test2() #returns as tuple

(1, 3, 5, 7, [45, 66, 659, 2])

In [15]:
a,b,c,d,e = test2()

In [16]:
a

1

In [19]:
e

[45, 66, 659, 2]

In [20]:
def test4() :
    a = 4*5
    b = 6+4
    return a,b
test4()

(20, 10)

In [24]:
_,g = test4() #"_" is placeholder
g

10

In [22]:
test2()

(1, 3, 5, 7, [45, 66, 659, 2])

In [23]:
_,_,_,_,j = test2() #"_" is placeholder
j

[45, 66, 659, 2]

In [32]:
def testx() : #using a loop inside a created fn
    a=1
    b=10 #need to pass value
    while a <= b :
        print(a)
        a+=2
    else :
        print("this is the end")

In [33]:
testx()

1
3
5
7
9
this is the end

In [38]:
def testx(a,b) : #pass variable in test()
    while a <= b :
        print(a)
        a+=2
    else :
        print("this is the end")

In [46]:
testx(1,15)

1
3
5
7
9
11
13
15
this is the end

In [49]:
testx(225,11)

this is the end

In [52]:
def testx(a,b) : #pass variable in test()
    while a <= b :
        print(a)
        return(a)
        a+=2
    else :
        print("this is the end")

In [51]:
testx(1,10)

1

1

In [6]:
#fn generation for operations
def testx(a,b) :
    l = []
    while a<=b :
        l.append(a)
        a+=2
    else :
        print("this is the end")
    return l

In [8]:
testx(1,15)

this is the end

[1, 3, 5, 7, 9, 11, 13, 15]

In [2]:
l = [4,5,6,67,7,8,8,9,9,9,[3,4,5,6,7,7], "sudh"]

In [3]:
#return in from list
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [4]:
l1

[4, 5, 6, 67, 7, 8, 8, 9, 9, 9]

In [11]:
l3 =[345,45,5,5,6,5,"sudh",(3,4,5)]

In [12]:
#return only int from list using fn
l = [4,5,6,67,7,8,8,9,9,9,[3,4,5,6,7,7], "sudh"]
def test8(l) :
    l1 = []
    for i in l:
        if type(i) == int :
            l1.append(i)
    return l1

In [13]:
test8(l3)

[345, 45, 5, 5, 6, 5]

In [1]:
t = (3,4,5,6,7,8,9)
a = -1
while a >-len(t):
    if t[a] == 6 or t[a] == 7:
        print(a)
    a-=1

-3
-4

In [6]:
t = (3,4,5,6,7,8,9)
def test8(t):
    a = -1
    while a >-len(t):
        if t[a] == 6 or t[a] == 7:
            print(a)
        a-=1

In [7]:
test8(t)

-3
-4

In [8]:
test8((3,4,4,6,6,7,7,7,88))

-2
-3
-4
-5
-6

In [35]:
def star(height) :
    row = 1
    while row <= height:
        print(" * " * row, end="  ")
        row+=1
        print()

In [36]:
star(10)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *

In [ ]:
A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y